In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("MERGED2017_18_PP.csv")

c:\users\vivek pandey\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#How many colleges or rows

len(df.index)

7112

In [7]:
#How many variables or columns     

len(df.columns)

1986

In [14]:
#Look at the first 5 colleges   or   If we want to look at all the details of first 5 colleges then df.head(5)

df["INSTNM"].head(5)

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
Name: INSTNM, dtype: object

In [16]:
#Look at the last 5 colleges    or   If we want to look at all the details of last 5 colleges then df[-5:]

df['INSTNM'][-5:]

7107                     Arizona State University at Yuma
7108    Bay Area Medical Academy - San Jose Satellite ...
7109             High Desert Medical College - Bakerfield
7110                                         BCI - Malden
7111                 HCI College - Fort Lauderdale Campus
Name: INSTNM, dtype: object

In [21]:
#Look at a random sample of 5 colleges  or If we want to look only the names of colleges randomly df['INSTNM'].sample(n = 5)

df.sample(n = 5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
6037,476878,4204300,42043,Aesthetic Science Institute,Latham,NY,12110-1095,NaN,NaN,NaN,...,NaN,0.3827,0.7654,123.0,NaN,81.0,NaN,NaN,NaN,NaN
6427,486619,4241800,42418,Academy of Professional Cosmetology,Rogers,AR,72756-2028,NaN,NaN,NaN,...,NaN,0.6923,0.5385,78.0,NaN,13.0,NaN,NaN,NaN,NaN
999,146700,730307,7303,Lincoln College of Technology-Melrose Park,Melrose Park,IL,60160-1605,NaN,NaN,NaN,...,NaN,0.8235,0.8460,1026.0,NaN,578.0,NaN,NaN,NaN,NaN
1563,166407,633100,6331,Lawrence Memorial Hospital School of Nursing,Medford,MA,02155,NaN,NaN,NaN,...,NaN,NaN,NaN,420.0,NaN,0.0,NaN,NaN,NaN,NaN
1913,178208,248500,2485,Midwestern Baptist Theological Seminary,Kansas City,MO,64118-4697,NaN,NaN,NaN,...,NaN,0.2609,0.8261,696.0,2278.0,23.0,NaN,NaN,NaN,NaN

In [24]:
#Smaller dataframe with 9 variables
df[['UNITID','INSTNM','CITY','STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10']]

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
...,...,...,...,...,...,...,...,...,...
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

Definitions or description of the variables which are used in the new dataframe are:-

UNITID - UNITID is for the id of an institution. And the datatype is integer.


INSTNM - INSTNM variable name  is used for the institute name. And the datatype is autocomplete which means it would be suggesting the names based on previous inputs. 


CITY - CITY variable name is used for place or location where the school is located. And the datatype is autocomplete which means it would be suggesting the names based on previous inputs. 

STABBR - STABBR variable name is used for State postcode where the school is located. And the datatype is string.

ZIP - ZIP variable name is used for the zip code(Zone Improvement Plan) or a postal code. And the datatype is string.

ADM_RATE - ADM_RATE variable name is used for the overall admission rate. And the datatype is float.

UGDS -UGDS variable name is used for enrollment of undergraduate certificate/degree-seeking students. And the datatype is Integer.


TUITIONFEE_IN - TUITIONFEE_IN variable name is used for in-state tuition and fees. And the datatype is Integer.


MN_EARN_WNE_P10 - MN_EARN_WNE_P10 variable name is used for mean earnings of students working and not enrolled 10 years after entry. And the datatype is Integer.

In [25]:
# Now exploring the smaller data frame.

In [26]:
#Look at the first 10 colleges

df['INSTNM'].head(10)

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
5              The University of Alabama
6      Central Alabama Community College
7                Athens State University
8        Auburn University at Montgomery
9                      Auburn University
Name: INSTNM, dtype: object

In [27]:
#look at the last 10 colleges

df['INSTNM'].iloc[-10:]

7102    National Personal Training Institute of Cleveland
7103               Barber School of Pittsburgh - Ambridge
7104                   Arizona State University at Tucson
7105    Arizona State University - ASU Colleges at Lak...
7106          Arizona State University at The Gila Valley
7107                     Arizona State University at Yuma
7108    Bay Area Medical Academy - San Jose Satellite ...
7109             High Desert Medical College - Bakerfield
7110                                         BCI - Malden
7111                 HCI College - Fort Lauderdale Campus
Name: INSTNM, dtype: object

In [28]:
#Look at a random sample of 10 colleges

df['INSTNM'].sample(10)

6419                     Laredo CHI Academy Beauty School
711     AI Miami International University of Art and D...
1156                                    Clarke University
3692                                Shenandoah University
5490    John Paolo's Xtreme Beauty Institute-Goldwell ...
1943                        St. Louis College of Pharmacy
5410                                     The Hair Academy
3329                                John A Gupton College
6723               Porter and Chester Institute of Canton
2193                American Musical and Dramatic Academy
Name: INSTNM, dtype: object

In [38]:
#Find and display UMBC

df1=df[df['INSTNM']=='University of Baltimore']
df1

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1453,161873,210200,2102,University of Baltimore,Baltimore,MD,21201-5720,NaN,NaN,NaN,...,NaN,0.5145,0.5,3827.0,3181.0,138.0,NaN,NaN,NaN,NaN

In [39]:
#Find Univ. of Maryland College Park

df2=df[df['INSTNM']=='University of Maryland-College Park']
df2

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1479,163286,210300,2103,University of Maryland-College Park,College Park,MD,20742,NaN,NaN,NaN,...,NaN,0.1344,0.3126,32022.0,11669.0,4568.0,NaN,NaN,NaN,NaN

In [40]:
#Find and display Loyola College Maryland

df3=df[df['INSTNM']=='Loyola University Maryland']
df3

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1475,163046,207800,2078,Loyola University Maryland,Baltimore,MD,21210-2699,NaN,NaN,NaN,...,NaN,0.1251,0.5534,4175.0,2479.0,1095.0,NaN,NaN,NaN,NaN

In [41]:
#Find and display Johns Hopskins

df4=df[df['INSTNM']=='Johns Hopkins University']
df4

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1473,162928,207700,2077,Johns Hopkins University,Baltimore,MD,21218-2688,NaN,NaN,NaN,...,NaN,0.1316,0.3173,7825.0,22192.0,1368.0,NaN,NaN,NaN,NaN

In [42]:
#Calculate the min, max, and average in-state tution of the above four institutions.

df_new=pd.concat([df1,df2,df3,df4])
df_new

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1453,161873,210200,2102,University of Baltimore,Baltimore,MD,21201-5720,NaN,NaN,NaN,...,NaN,0.5145,0.5000,3827.0,3181.0,138.0,NaN,NaN,NaN,NaN
1479,163286,210300,2103,University of Maryland-College Park,College Park,MD,20742,NaN,NaN,NaN,...,NaN,0.1344,0.3126,32022.0,11669.0,4568.0,NaN,NaN,NaN,NaN
1475,163046,207800,2078,Loyola University Maryland,Baltimore,MD,21210-2699,NaN,NaN,NaN,...,NaN,0.1251,0.5534,4175.0,2479.0,1095.0,NaN,NaN,NaN,NaN
1473,162928,207700,2077,Johns Hopkins University,Baltimore,MD,21218-2688,NaN,NaN,NaN,...,NaN,0.1316,0.3173,7825.0,22192.0,1368.0,NaN,NaN,NaN,NaN

In [43]:
df_new['TUITIONFEE_IN'].describe()

count        4.000000
mean     29738.250000
std      23325.312608
min       8824.000000
25%      10005.250000
50%      28979.500000
75%      48712.500000
max      52170.000000
Name: TUITIONFEE_IN, dtype: float64

In [44]:
#The smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia.

In [45]:
#MARYLAND
df_ma=df[df['STABBR']=='MA']
df_ma

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1505,164368,4143200,41432,Hult International Business School,Cambridge,MA,02141-1805,NaN,NaN,NaN,...,NaN,0.0870,0.0870,518.0,2439.0,92.0,NaN,NaN,NaN,NaN
1506,164438,3965300,39653,New England College of Business and Finance,Boston,MA,02110,NaN,NaN,NaN,...,NaN,NaN,NaN,1107.0,337.0,0.0,NaN,NaN,NaN,NaN
1507,164447,211400,2114,American International College,Springfield,MA,01109,NaN,NaN,NaN,...,NaN,0.5969,0.8875,1473.0,2580.0,320.0,NaN,NaN,NaN,NaN
1508,164465,211500,2115,Amherst College,Amherst,MA,01002-5000,NaN,NaN,NaN,...,NaN,0.2229,0.1380,1945.0,NaN,471.0,NaN,NaN,NaN,NaN
1509,164474,211600,2116,Andover Newton Theological School,Lexington,MA,02421,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,166.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6721,13017404,1077905,10779,Porter and Chester Institute of Chicopee,Chicopee,MA,010221400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6722,13017405,1077906,10779,Porter and Chester Institute of Worcester,Worcester,MA,016061400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6723,13017406,1077914,10779,Porter and Chester Institute of Canton,Canton,MA,020212480,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6882,18908801,267109,2671,Bard College - Holyoke Microcollege,Holyoke,MA,010403927,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#VIRGINIA

df_va=df[df['STABBR']=='VA']
df_va

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
3627,231280,3010700,30107,Paul Mitchell the School-Roanoke,Roanoke,VA,24015,NaN,NaN,NaN,...,NaN,0.7895,0.8421,124.0,NaN,19.0,NaN,NaN,NaN,NaN
3628,231411,3127500,31275,Advanced Technology Institute,Virginia Beach,VA,23462,NaN,NaN,NaN,...,NaN,0.4650,0.5159,791.0,NaN,157.0,NaN,NaN,NaN,NaN
3629,231420,370200,3702,Averett University,Danville,VA,24541,NaN,NaN,NaN,...,NaN,0.5297,0.7966,906.0,NaN,236.0,NaN,NaN,NaN,NaN
3630,231536,681900,6819,Blue Ridge Community College,Weyers Cave,VA,24486-0080,NaN,NaN,NaN,...,NaN,0.5307,0.1272,5591.0,NaN,456.0,NaN,NaN,NaN,NaN
3631,231554,370300,3703,Bluefield College,Bluefield,VA,24605,NaN,NaN,NaN,...,NaN,0.5549,0.7692,1189.0,48.0,182.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6969,24893411,1019814,10198,ECPI University-Virginia Beach Health Sciences,Virginia Beach,VA,234621603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6970,24893412,1019815,10198,ECPI University-Richmond South,Richmond,VA,232361603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6971,24893413,1019816,10198,ECPI University-Innsbrook,Glen Allen,VA,230601603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6972,24893414,1019817,10198,ECPI University-Richmond West,Richmond,VA,232941603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6973,24893415,1019818,10198,ECPI University - Roanoke,Roanoke,VA,240121603,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Washington DC

df_wa=df[df['STABBR']=='WA']
df_wa

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
65,102845,2576900,25769,Charter College,Vancouver,WA,98683-7575,NaN,NaN,NaN,...,NaN,0.7103,0.7604,4524.0,16.0,939.0,NaN,NaN,NaN,NaN
3717,234401,2504900,25049,Beauty Academy,Wenatchee,WA,98801,NaN,NaN,NaN,...,NaN,0.4839,0.6129,59.0,NaN,31.0,NaN,NaN,NaN,NaN
3718,234492,2291300,22913,The Art Institute of Seattle,Seattle,WA,98121-1622,NaN,NaN,NaN,...,NaN,0.5044,0.6018,1317.0,NaN,113.0,NaN,NaN,NaN,NaN
3719,234650,2105300,21053,Evergreen Beauty and Barber College-Bellevue,Bellevue,WA,98007,NaN,NaN,NaN,...,NaN,0.4043,0.6170,94.0,NaN,47.0,NaN,NaN,NaN,NaN
3720,234669,376900,3769,Bellevue College,Bellevue,WA,98007-6484,NaN,NaN,NaN,...,NaN,0.2691,0.1256,20297.0,NaN,446.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6856,17706515,245622,2456,Columbia College - Naval Station Everett/Marys...,Marysville,WA,982717854,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6868,17706527,245642,2456,Columbia College - Whidbey Island,Oak Harbor,WA,982781000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6941,23693901,380003,3800,Washington State University-Vancouver,Vancouver,WA,986869600,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6942,23693902,380001,3800,Washington State University-Spokane,Spokane,WA,992029600,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6943,23693903,380002,3800,Washington State University-Tri Cities,Richland,WA,993541671,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Delaware

df_de=df[df['STABBR']=='DE']
df_de

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
634,130837,2125200,21252,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,19958,NaN,NaN,NaN,...,NaN,NaN,NaN,53.0,NaN,0.0,NaN,NaN,NaN,NaN
635,130873,3025800,30258,Dawn Career Institute LLC,Newark,DE,19702,NaN,NaN,NaN,...,NaN,0.7108,0.7292,627.0,NaN,325.0,NaN,NaN,NaN,NaN
636,130907,1172700,11727,Delaware Technical Community College-Terry,Dover,DE,19901,NaN,NaN,NaN,...,NaN,0.5172,0.0923,19385.0,NaN,2092.0,NaN,NaN,NaN,NaN
637,130934,142800,1428,Delaware State University,Dover,DE,19901,NaN,NaN,NaN,...,NaN,0.5579,0.7524,4770.0,392.0,941.0,NaN,NaN,NaN,NaN
638,130943,143100,1431,University of Delaware,Newark,DE,19716,NaN,NaN,NaN,...,NaN,0.1391,0.5037,20550.0,4305.0,4370.0,NaN,NaN,NaN,NaN
639,130989,142900,1429,Goldey-Beacom College,Wilmington,DE,19808,NaN,NaN,NaN,...,NaN,0.5000,0.5759,774.0,1573.0,158.0,NaN,NaN,NaN,NaN
640,131061,2190400,21904,Schilling-Douglas School of Hair Design LLC,Newark,DE,19711,NaN,NaN,NaN,...,NaN,0.6667,0.8333,191.0,NaN,24.0,NaN,NaN,NaN,NaN
641,131098,143300,1433,Wesley College,Dover,DE,19901-3875,NaN,NaN,NaN,...,NaN,0.6091,0.8442,1591.0,110.0,353.0,NaN,NaN,NaN,NaN
642,131113,794800,7948,Wilmington University,New Castle,DE,19720,NaN,NaN,NaN,...,NaN,0.4070,0.5088,11867.0,8854.0,285.0,NaN,NaN,NaN,NaN
4729,432524,4139800,41398,Delaware College of Art and Design,Wilmington,DE,19801-3007,NaN,NaN,NaN,...,NaN,0.5506,0.8090,175.0,NaN,89.0,NaN,NaN,NaN,NaN
4917,441362,3543300,35433,Harris School of Business-Wilmington Campus,Wilmington,DE,19803,NaN,NaN,NaN,...,NaN,0.7370,0.4935,466.0,NaN,308.0,NaN,NaN,NaN,NaN
5037,444200,2586902,25869,Harris School of Business-Dover Campus,Dover,DE,19901,NaN,NaN,NaN,...,NaN,0.7143,0.5507,475.0,NaN,434.0,NaN,NaN,NaN,NaN
5275,449472,3702300,37023,Delaware Learning Institute of Cosmetology,Dagsboro,DE,19939,NaN,NaN,NaN,...,NaN,0.7742,0.8387,79.0,NaN,31.0,NaN,NaN,NaN,NaN
5322,450298,145948,1459,Strayer University-Delaware,Newark,DE,19713,NaN,NaN,NaN,...,NaN,1.0000,1.0000,389.0,87.0,1.0,NaN,NaN,NaN,NaN
5354,451051,4130700,41307,Academy of Massage and Bodywork,Bear,DE,19701,NaN,NaN,NaN,...,NaN,NaN,NaN,134.0,NaN,0.0,NaN,NaN,NaN,NaN
5718,459301,4171100,41711,Paul Mitchell the School-Delaware,Newark,DE,19702,NaN,NaN,NaN,...,NaN,0.5641,0.9231,179.0,NaN,39.0,NaN,NaN,NaN,NaN
6527,488262,4250300,42503,Hair Academy School of Barbering & Beauty,Newark,DE,19713-2305,NaN,NaN,NaN,...,NaN,0.5556,0.5556,46.0,NaN,27.0,NaN,NaN,NaN,NaN
6725,13090701,1172702,11727,Delaware Technical Community College-Owens,Georgetown,DE,19947,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6726,13090702,1172703,11727,Delaware Technical Community College-Stanton/W...,Wilmington,DE,19801,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7084,47503303,4208605,42086,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# Pennsylvinia

df_pa=df[df['STABBR']=='PA']
df_pa

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
2933,210474,2178900,21789,Jolie Hair and Beauty Academy-Hazleton,Hazleton,PA,18201,NaN,NaN,NaN,...,NaN,0.7838,0.7027,116.0,NaN,74.0,NaN,NaN,NaN,NaN
2934,210492,322800,3228,Bryn Athyn College of the New Church,Bryn Athyn,PA,19009-0711,NaN,NaN,NaN,...,NaN,0.4857,0.6571,359.0,7.0,70.0,NaN,NaN,NaN,NaN
2935,210508,3353300,33533,Academy of Vocal Arts,Philadelphia,PA,19103-6685,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN
2936,210571,322900,3229,Albright College,Reading,PA,19612-5234,NaN,NaN,NaN,...,NaN,0.5252,0.8674,2433.0,26.0,596.0,NaN,NaN,NaN,NaN
2937,210599,2495500,24955,All-State Career School,Essington,PA,19029,NaN,NaN,NaN,...,NaN,0.7548,0.7194,608.0,NaN,310.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7023,44378405,145950,1459,Strayer University-Warrendale Campus,Warrendale,PA,15086,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7024,44378406,145976,1459,Strayer University-Allentown Campus,Center Valley,PA,18034,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7063,45794301,4149801,41498,Somerset County Technology Center - Bedford Site,Bedford,PA,15522,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7089,47503308,4208608,42086,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7103,48305401,4224601,42246,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_5state=pd.concat([df_ma,df_pa,df_va,df_de,df_wa])
df_5state

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
1505,164368,4143200,41432,Hult International Business School,Cambridge,MA,02141-1805,NaN,NaN,NaN,...,NaN,0.0870,0.0870,518.0,2439.0,92.0,NaN,NaN,NaN,NaN
1506,164438,3965300,39653,New England College of Business and Finance,Boston,MA,02110,NaN,NaN,NaN,...,NaN,NaN,NaN,1107.0,337.0,0.0,NaN,NaN,NaN,NaN
1507,164447,211400,2114,American International College,Springfield,MA,01109,NaN,NaN,NaN,...,NaN,0.5969,0.8875,1473.0,2580.0,320.0,NaN,NaN,NaN,NaN
1508,164465,211500,2115,Amherst College,Amherst,MA,01002-5000,NaN,NaN,NaN,...,NaN,0.2229,0.1380,1945.0,NaN,471.0,NaN,NaN,NaN,NaN
1509,164474,211600,2116,Andover Newton Theological School,Lexington,MA,02421,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,166.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6856,17706515,245622,2456,Columbia College - Naval Station Everett/Marys...,Marysville,WA,982717854,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6868,17706527,245642,2456,Columbia College - Whidbey Island,Oak Harbor,WA,982781000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6941,23693901,380003,3800,Washington State University-Vancouver,Vancouver,WA,986869600,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6942,23693902,380001,3800,Washington State University-Spokane,Spokane,WA,992029600,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6943,23693903,380002,3800,Washington State University-Tri Cities,Richland,WA,993541671,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df_5state.to_csv('Five_States_Colleges.csv',index=False)